# ---------- Android / Gradle ----------
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/.cxx/

# ---------- Kotlin ----------
.kotlin/

# ---------- Logs / Temp ----------
*.log
*.hprof
build_*.txt
build_apk_unzipped/

